@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');

body {
    
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    font-size: 2em;
    color: #666;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    margin: 0;
}

img {
    max-width: 200px;
}

/** Header Navigation **/

header .navbar {
    padding: 30px 0;
}

header .navbar-default {
    border: none;
}

header .navbar-default .navbar-nav a {
    color: #fff;
}

header .navbar-default .navbar-nav a:hover {
    color:darkslategray;
}

header .navbar-default .navbar-nav .active a {
    font-weight: 700;
    color: #3766b1;
    background: transparent;
    text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
    color: darkslategray;
    background: transparent;
    text-shadow: none;
}

header .navbar-default .navbar-nav a {
     color: #3766b1;
}

.navbar-brand img {
    height: 100px;
    position: relative;
    top:-40px;
}
.navbar-default{
    background-color: #fff;
}
.navbar-default .navbar-collapse.in,.navbar-default .navbar-collapse.collapsing {
    margin-top: 30px;
}
.btn-contact {
    background-color: #FF8B3D;
    color:#fff;
    border-color: #FF8B3D;
}
/** Nav In Body **/
:target:before {
content:"";
display:block;
height:115px; /* fixed header height*/
margin:-115px 0 0; /* negative fixed header height */
}

#topbutton {
    background-color: rgba(55, 102, 177, .7);
    color: #fff;
    Border-color: #3766b1;
    position: relative;
}

#form {
    margin-top: 25px;
}

/** Main Page **/
#featured {
    padding-top: 114px;
}
.page {
    padding: 50px 0;
}

.page h2 {
    text-align: center;
    margin-bottom: 30px;
}

#promise{
    text-align: center;
}

p {
    text-align: center;
}

.page h2 {
    color: #3766b1;
}

#thumbnails img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.material-icons {
    font-size: 75px;
    color: rgba(55, 102, 177, .7);
    padding-left: 55px;
}

/** Why Us **/

#sell {
    background-color: rgba(55, 102, 177, .1);
}

.selling {
    margin: 5px 0;   
    text-align: center;
}

.selling h3 {
    font-weight: 600;
    font-size: 1.2em;
    color: #3766b1;
    padding-bottom: 5px;
}

.selling p {
    font-size: .8em;
}

/** Table **/

.nco {
    color: #76bc43;
}

.title {
    color: rgba(55, 102, 177, .7);
}



/** Testimonials **/

blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 100%;
    line-height: 1.42857143;
    color: rgba(55, 102, 177, .7);
}

.sold {
    background-color: rgba(55, 102, 177, .9);
    color:#fff;
    border-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
}

#quote-1 {
    border-left: none;
}

#quote-2 {
border-right: none;
}


/** Contact **/

#phone {
    text-align: center;
    color: #FF8B3D;
    font-size: 2.5em;
}

label.webforms__label {
    font-family: 'Josefin Sans', sans-serif;
}

.form {
    padding: 0;
}


/** Footer **/


<contact {
    padding-top: 50px;
}










